@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff6158;
  --backColor: #0e0605;
}

p {
  color: var(--backColor);
}

img {
  max-width: 100% !important;
}

.container {
  padding: 0 16px;
}

.text-primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}

.btn-primary {
  color: white;
  background-color: var(--primary);
}
